@font-face {
  font-family: luna;
  src: url("../font/Luna.ttf");
}
@font-face {
  font-family: price;
  src: url("../font/pricedown\ bl.ttf");
}
@font-face {
  font-family: brush;
  src: url("../font/blowbrush.ttf");
}
@font-face {
  font-family: orange;
  src: url("../font/Orange\ Blossom.ttf");
}
